<header class="jumbotron masthead">
  <div class="inner">
    <h1>行程单</h1>
    <p>为不爱看冗长攻略的人而生，一张只有吃喝住行的单子</p>
    <p class="download-info">
      <a href="/plan/new" class="btn btn-primary btn-large">分享我的行程</a>
      <a href="/plan" class="btn btn-large">看别人的行程</a>
    </p>
  </div>

  <div class="bs-links">
    <ul class="quick-links">
      <li><a href="#">关于</a></li>
    </ul>
  </div>
</header>