/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.icon-add-margin{
	margin-top: 2px;
}

.control-group .picktime{
	background-color: white;
	border-color: none;
	cursor:pointer;
}

.control-group .picktime-sample{
	background-color: white;
	border-color: none;
	cursor:pointer;
}

.zoufa{
	width: 300px;
}

.plan_detail_head h2{color: black;}
.plan_detail_head span{color: #999;}

