<%= form_for(@plan,url: plan_index_path ,:html =>{:class => "form-horizontal well"}) do |f| %>
  <fieldset>
    <legend>新建行程单</legend>
    
    <%= render :partial => 'plan_form', :locals => { :f => f } %>
    
    <div class="form-actions">
      <%= f.submit "下一步",:class => "btn btn-primary" %>
      <a class="btn" href="/my">取消</a>
    </div>
  </fieldset>
<% end %>
